@import './../_style.scss';

.TodoItem {
    display: flex;
    align-items: center;
    padding: 12px 0;
    
    &:hover {
        .remove {
            display: flex;
        }
    }

    .check {
        width: 32px;
        height: 32px;
        margin-left: 3px;
        margin-right: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border-radius: 16px;
        background-color: $color-white;
        box-shadow: 3px 3px 3px $color-shadow, -3px -3px 3px $color-light;
        cursor: pointer;

        &.done {
            color: $color-melon;
            border: none;
            background-color: $color-white;
            box-shadow: inset 3px 3px 3px $color-shadow, inset -3px -3px 3px $color-light;

            & + .text {
                color: rgba($color-grey, 0.3);
            }
        }
    }

    .text {
        flex: 1;
        color: $color-grey;
        font-size: 21px;
    }

    .remove {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba($color-grey, 0.3);
        font-size: 24px;
        cursor: pointer;

        &:hover {
            color: $color-main;
        }

        display: none;
    }
}