@import './../_style.scss';

.TodoCreate {
    display: flex;
    padding: 0 32px;
    border-radius: 0 0 16px 16px;

    input {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        font-family: 'Pretendard';
        box-shadow: inset 3px 3px 3px $color-shadow, inset -3px -3px 3px $color-light;
        background-color: $color-white;
    }
}