$color-main: #f86565;
$color-text: #343a40;
$color-background: #f1f2f3;
$color-light: #ffffff;
$color-shadow: #d8d8e4;
$color-white: #f7f7f7;
$color-grey: #495057;
$color-black: #231f20;
$color-melon: #20c997;
$color-yellow: #f4b322;