.App {
    width: 1320px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    &.row {
        flex-direction: row;

        &.fix {
            width: 761px;
        }
    }

    &.col {
        flex-direction: column;
    }
}

button:focus:not(:focus-visible) {
    outline: 0;
}