.App {
    max-width: 1320px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

button:focus:not(:focus-visible) {
    outline: 0;
}