@import './../_style.scss';

.PomodoroTemplate {
    width: 430px;
    height: 360px;
    position: relative;
    padding: 32px;
    padding-top: 36px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid $color-background;
    border-radius: 16px;
    box-shadow: -3px -3px 8px $color-light, 3px 3px 8px $color-shadow, inset 3px 3px 8px $color-shadow, inset -3px -3px 8px $color-light;

    h2 {
        color: $color-text;
        font-size: 36px;
    }
}